@charset "utf-8";
html,
body {
  margin: 0;
  padding: 0;
}

.sudoku-field {
  margin: 0 auto;
  /*width: 540px;*/
  text-align: center;
  font-size: 1.4em;
  font-family: "Tele-Marines", "Wingdings", Helvetica, Arial, sans-serif;
  border-top: solid;
}

table>tbody>tr>td {
  width: 60px;
  height: 60px;
  border-right: solid #000 2px;
  border-bottom: solid #000 2px;
}

td:first-child {
  border-left: solid;
}

td:nth-child(3n) {
  border-right: solid;
}

tr:nth-child(3n) td {
  border-bottom: solid;
}